{% extends "loggedin.html" %}
{% block content %}


<div class="grid">
    <div class="row">
        <!-- Place code for crop option panels here -->
        <div class="span4">
            <nav class="sidebar dark">
                <ul>
                    <li class="title">Crops</li>
                    {% for crop in crops %}
                    <li><a href="#">{{crop}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <!-- Code for charting area -->
        <div class="barChart">
            Bar Chart comes here
        </div>
     </div>

    <script>
        var some_numbers = [1, 23, 4];
        $.each(some_numbers, function (idx, value) { console.log(value)})
    </script>

    

</div>

{% endblock %}